$mainBlue: #2f5572;
$mainBlue: #2f5572;
$mainOrange: #d59541;

// nice example... can add for further improvement
// $tablet-width: 768px;
// $desktop-width: 1024px;

// @mixin tablet {
//   @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
//     @content;
//   }
// }

// @mixin desktop {
//   @media (min-width: #{$desktop-width}) {
//     @content;
//   }
// }
