//without classes inside (and descendening a bit) so against BEM but here it's fine
.generic-content-container {
  p {
    line-height: 1.65; // doesn't require an unit of measurement
    margin: 1.8rem 0;

    @include atSmall {
      font-size: 1.125rem; // moved to atSmall and above as default 1rem
    }
  }

  p a {
    // didn't nest it further cause doesn't like to nest more than 1 level (
    font-weight: 700; // color for the link added globaly cause we don't wanna use default blue anywhere so it doesn't hurt us at all. With font-weight it's different as can have plenty normal weight links and that's why deffined here.
  }
}
