// gap between sections looked good only on big screen
// .page-section {
//   padding: 4.5rem 0;

//   &--blue {
//     background-color: $mainBlue;
//     color: #fff;
//   }
// }

//tuned like this so better on smaller
.page-section {
  padding: 1.2rem 0;

  @include atMedium {
    padding: 4.5rem 0;
  }

  &--no-b-padding-until-medium {
    // left that for future (read below)
    padding-bottom: 0;

    @include atMedium {
      padding-bottom: 4.5rem;
    }
  }

  &--no-b-padding-until-large {
    //this was for medium but changed in html and here for large as 3 columns to narrow on midium
    padding-bottom: 0;

    @include atLarge {
      padding-bottom: 4.5rem;
    }
  }

  &--blue {
    background-color: $mainBlue;
    color: #fff;
  }

  &--testimonials {
    background-color: #e0e6ef;

    @include atLarge {
      background: url("/app/assets/images/testimonials-bg.jpg") top center
        no-repeat;
      background-size: cover;
    }
  }
}
