.row {
  @include clearfix;

  &--t-padding {
    padding-top: 80px;
  }

  &--gutters {
    margin-right: -65px;
  }

  &--gutters-large {
    margin-right: -100px;
  }

  &--gutters-small {
    margin-right: -45px;
  }

  &--gutters > div {
    // creates space between columns (2 divs) but actually we don't need that in the second div so one of many ways to handle that is above negative margin on parent and overflow hidden on wrapper
    padding-right: 65px;
  }

  &--gutters-large > div {
    padding-right: 100px;
  }

  &--gutters-small > div {
    padding-right: 45px;
  }

  &__b-margin-until-medium {
    margin-bottom: 1rem;
  }

  @include atMedium {
    //left for future even though all changed below to large
    &__b-margin-until-medium {
      margin-bottom: 0;
    }

    &__medium-4 {
      float: left;
      width: 33.33%;
    }

    &__medium-4--larger {
      width: 37%;
    }

    &__medium-6 {
      float: left;
      width: 50%;
    }

    &__medium-8 {
      float: left;
      width: 66.66%;
    }

    &__medium-8--smaller {
      width: 63%; // subtle changes. The reason why we don't adjust rule but add new modufier is that we already plan to use orginal 33.3% in next sections (3 columns)
    }
  }

  @include atLarge {
    //all changed from medium to large as 3 columns were too narrow
    &__b-margin-until-large {
      margin-bottom: 0;
    }

    &__large-4 {
      float: left;
      width: 33.33%;
    }

    &__large-4--larger {
      width: 37%;
    }

    &__large-6 {
      float: left;
      width: 50%;
    }

    &__large-8 {
      float: left;
      width: 66.66%;
    }

    &__large-8--smaller {
      width: 63%;
    }
  }

  //Begin Equal Height Rules
  &--equall-height-at-medium {
    // left in case needed in the future
    @include atMedium {
      display: flex;
    }

    & > div {
      float: none;
      display: flex;
    }
  }

  &--equall-height-at-large {
    // changed from medium as 3 columns too narrow
    @include atLarge {
      display: flex;
    }

    & > div {
      float: none;
      display: flex;
    }
  }
}
