.social-icons {
  text-align: center;

  &__icon {
    background-color: $mainOrange;
    display: inline-block; //icons will be on one line but can give them height etc.
    // margin: 0 5px;
    margin: 0 5px 5px 5px;
    // width: 72px;
    width: 33%;
    height: 72px;
    position: relative;

    @include atSmall {
      width: 72px;
      margin: 0 5px;
    }

    .icon {
      //display: block; //actually needed for svg sprite automation, here i guess not
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
